# This is not the network config written by 'subiquity'
# It is a bastard written by me.
network:
  renderer: NetworkManager
  ethernets:
    enp1s0:
      dhcp4: false
    enp2s0:
      dhcp4: true
  version: 2
